<style>
  #site_breakdown{

  }
</style>

<div id="site_breakdown">
  <table cellspacing="0" style="position:absolute; width: 80%; left: 10%;">
    <tr style="background-color: green; border-bottom: 1px solid black;">
      <td colspan="3" style="color: white;"><center>Site Name: <span style="font-size: 14pt; font-weight: bold; letter-spacing: 3px;"><%= @site_name %></span></center></td>
    </tr>
    <tr>
      <td style="border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black;"><center>New Notices: <span style="font-size: 14pt; font-weight: bold;"><%= @new_notices.count %></span></center></td>
      <td style="border-right: 1px solid black; border-bottom: 1px solid black;"><center>Under Investigations: <span style="font-size: 14pt; font-weight: bold;"><%= @under_investigations.count %></span></center></td>
      <td style="border-right: 1px solid black; border-bottom: 1px solid black;"><center>Resolved: <span style="font-size: 14pt; font-weight: bold;"><%= @resolved.count %></span></center></td>
    </tr>
    <tr style="background-color: #A9A9A9;">
      <td colspan="3" style="color: white;"><center><span style="font-size: 12pt; letter-spacing: 3px;">New Notices</span></center></td>
    </tr>
    <% unless @new_notices.blank? %>
        <% @new_notices.each do |notice| %>
          <tr style="border-bottom: 2px solid black; border-top: 1px solid black;">
            <td style="border-left: 1px solid black; border-right: 1px solid black;"><%= notice.value_text %></td>
          </tr>
        <% end %>
    <% else %>
        <tr>
            <td colspan="3"><span><center>(No data)</center></span></td>
        </tr>
    <% end %>
          
    <tr style="background-color: #A9A9A9; ">
      <td colspan="3" style="color: white;"><center><span style="font-size: 12pt; letter-spacing: 3px;">Under Investigation</span></center></td>
    </tr>

    <% unless @under_investigations.blank? %>
        <% @under_investigations.each do |notice| %>
          <tr style="border-bottom: 2px solid black; border-top: 1px solid black;">
            <td style="border-left: 1px solid black; border-right: 1px solid black;"><%= notice.value_text %></td>
          </tr>
        <% end %>
    <% else %>
          <tr style="border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black;">
            <td colspan="3"><span><center>(No data)</center></span></td>
          </tr>
    <% end %>

    <tr style="background-color: #A9A9A9; ">
      <td colspan="3" style="color: white;"><center><span style="font-size: 12pt; letter-spacing: 3px;">Resolved</span></center></td>
    </tr>
    <% unless @resolved.blank? %>
        <% @resolved.each do |notice| %>
          <tr style="border-bottom: 2px solid black; border-top: 1px solid black;">
            <td style="border-left: 1px solid black; border-right: 1px solid black;"><%= notice.value_text %></td>
          </tr>
        <% end %>
    <% else %>
          <tr style="border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black;">
            <td colspan="3"><span><center>(No data)</center></span></td>
          </tr>
    <% end %>

  </table>
</div>