<script type="text/javascript">
  function saveNewNoticesChanges(id){
    new_notices_form = document.getElementById(id);
    form_elements = new_notices_form.elements;
    resolved = [];
    investigating = [];
    for(i=0; i<form_elements.length; i++){
      if (form_elements[i].type == 'radio' || form_elements[i].type == 'checkbox'){
        if (form_elements[i].checked){
            values = form_elements[i].value.split(/:/);
            mark_type = values[0];
            obs_id = values[1];
            if (mark_type.match(/resolved/i))resolved.push(obs_id);
            if (mark_type.match(/investigating/i))investigating.push(obs_id);
        }
      }
    }

    jQuery.ajax({
      type: "POST",
      url: "/administration/save_notice_changes",
      data: "to_be_resolved=" + resolved + "&to_be_investigated=" + investigating,
      success: function(){
        window.location = window.location.href;
      }

    });
  }

  function show_hide_resolved_notices(q){
    resolved_data = document.getElementsByClassName('resolved_notices');
    hide = document.getElementById('hide');
    if (q == 'Hide'){
      hide.innerHTML='Show';
      for (i=0; i< resolved_data.length; i++){
        resolved_data[i].style.display='none'
      }
    }

    if (q == 'Show'){
      hide.innerHTML='Hide';
      for (i=0; i< resolved_data.length; i++){
        resolved_data[i].style.display=''
      }
    }

  }

  function t(){
    document.getElementById('hide').onclick= function(){
      q = document.getElementById('hide').innerHTML
     
      show_hide_resolved_notices(q);
     }
   }
   setTimeout("t();", 300);
</script>
<style>
  #site_breakdown{

  }

  #apply_button span{
    padding: 10px 10px;
    background-color: #ECF1EF;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
 }

 #apply_button span:hover{
   padding: 9px 10px;
   background-color: #FCF6CF;
   border: 0.1px solid #5F9EA0;
   color: #5F9EA0;
}
</style>

<div id="site_breakdown">
  <div id="notices_header" style="margin-left: 40%;">
    <span>Site Name: <b style="font-size: 12pt;"><%= @site_name %></b></span><br />
    <span>New notices: <b style="font-size: 12pt;"><%= @new_notices.count %></b></span><br />
    <span>Investigating: <b style="font-size: 12pt;"><%= @under_investigations.count %></b></span><br />
    <span>Resolved: <b style="font-size: 12pt;"><%= @resolved.count %></b></span><br />
  </div>
  <table cellspacing="0" style="position:absolute; width: 80%; left: 10%;">

    <tr style="background-color: #A9A9A9; color: white;">
      <td><span style="font-size: 12pt; letter-spacing: 2px;">New Notices</span></td>
      <td><center><span style="font-size: 12pt; letter-spacing: 2px;">Mark as Investigating</span></center></td>
      <td><center><span style="font-size: 12pt; letter-spacing: 2px;">Mark as Resolved</span></center></td>
    </tr>
    <% unless @new_notices.blank? %>
      <form id="new_notices">
        <% @new_notices.each do |notice| %>
          <tr style="border-bottom: 2px solid black; border-top: 1px solid black;">
            <td style="border-left: 1px solid black; border-right: 1px solid black;"><%= notice.value_text %></td>
            <td style="border-right: 1px solid black;"><center><span><input type="radio" value="investigating:<%= notice.id %>" name="new_notice:<%= notice.id %>"/></span></center></td>
            <td style="border-right: 1px solid black;"><center><span><input type="radio" value="resolved:<%= notice.id %>" name="new_notice:<%= notice.id %>"/></span></center></td>
          </tr>
        <% end %>
          <tr style="line-height:1em;">
            <td colspan="3" id="apply_button"><span onclick="saveNewNoticesChanges('new_notices');" style="float:right;">Save changes</span></td>
          </tr>
      </form>
    <% else %>
        <tr>
            <td colspan="3"><span><center>(No data)</center></span></td>
        </tr>
    <% end %>
          
    <tr style="background-color: #A9A9A9; color: white;">
      <td><span style="font-size: 12pt; letter-spacing: 3px;">Investigating</span></td>
      <td colspan="2"><center style="font-size: 12pt; letter-spacing: 3px;"><span>Mark as Resolved</span></center></td>
    </tr>

    <% unless @under_investigations.blank? %>
      <form id="investigating">
        <% @under_investigations.each do |notice| %>
          <tr style="border-bottom: 2px solid black; border-top: 1px solid black;">
            <td style="border-left: 1px solid black; border-right: 1px solid black;"><%= notice.value_text %></td>
            <td colspan="2" style="border-right: 1px solid black;"><center><span><input type="checkbox" value="resolved:<%= notice.id %>" name="investigating_notice:<%= notice.id %>"/></span></center></td>
          </tr>
        <% end %>
        <tr style="line-height:1em;">
            <td colspan="3" id="apply_button"><span onclick="saveNewNoticesChanges('investigating');" style="float:right;">Save changes</span></td>
        </tr>
      </form>
    <% else %>
          <tr style="border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black;">
            <td colspan="3"><span><center>(No data)</center></span></td>
          </tr>
    <% end %>

    <tr style="background-color: #A9A9A9; ">
      <td colspan="3" style="color: white;"><center><span style="font-size: 12pt; letter-spacing: 3px;">
            Resolved(<span id="hide" style="letter-spacing: 0 !important ;cursor:pointer; color: #F0E68C !important">Hide</span>)
          </span></center></td>
    </tr>
    <% unless @resolved.blank? %>
        <% @resolved.each do |notice| %>
          <tr class="resolved_notices" style="border-bottom: 2px solid black; border-top: 1px solid black;">
            <td colspan="3" style="border-left: 1px solid black; border-right: 1px solid black;"><%= notice.value_text %></td>
          </tr>
        <% end %>
    <% else %>
          <tr style="border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black;">
            <td colspan="3"><span><center>(No data)</center></span></td>
          </tr>
    <% end %>

  </table>
</div>