
<%= stylesheet_link_tag "bootstrap-tree/bootstrap-tree" %>                                         

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well">
              <ul class="tree">
                <%(@tree || {}).each do |cat, values|%>
                  <li>
                    <%unless values.blank?%>
                      <a href="#" role="branch" class="tree-toggle closed" data-toggle="branch" data-value="Bootstrap_Tree"><%=cat%></a>
                    <%else%>
                      <li><a href="#" onclick="javascript:setSelectedValue('<%=cat%>');" class="tree-toggle" role="branch"><%=cat%></a></li>
                    <%end%>
                      <ul class="branch">
                        <%(values || {}).each do |child_name, child_values|%>
                          <%unless child_values.blank?%>
                            <a href="#" role="branch" class="tree-toggle closed" data-toggle="branch" data-value="Bootstrap_Tree"><%=child_name%></a>
                          <%else%>
                            <li><a href="#" onclick="javascript:setSelectedValue('<%=child_name%>');" class="tree-toggle"><%=child_name%></a></li>
                          <%end%>
                          <%unless child_values.blank?%>
                            <ul class="branch">
                              <%(child_values || []).each do | c |%>
                                <li><a href="#" role="leaf" onclick="javascript:setSelectedValue('<%= c %>');"><%= c %></a></li>
                              <%end%>
                            </ul>
                          <%end%>
                        <%end%>
                <%end%>
              </ul>


            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9" id="mainContent">
              <div class="row-fluid">
                  <div class="well span13" id="editorArea">
                    <!-- content -->
                      <h3>Report name</h3>
                      <br />  
                      <br />  
                      <form>
                        <table style="width: 99%;">
                          <tr>
                            <td><label>Drug:</label></td>
                            <td><label id="selection-label" style="font-weight: bold;"></label></td>
                          </tr>
                          <tr>
                            <td>Select site</td>
                            <%sites = []
                              Site.all.map do |s|
                                sites << [s.name, s.id]
                              end
                            %>
                            <td>
                              <select id="sitename" name="sitename" class="form-control" placeholder="Region" required=""  >
                                <option value="">[ - Select site - ]</option>
                                  <% (sites || []).each do |site, id| %>
                                    <option value="<%= id%>"><%= site %></option>
                                  <% end %>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>Start date</td><td><input type="text" name="start_date" /></td>
                          </tr>
                          <tr>
                            <td>End date</td><td><input type="text" name="end_date" /></td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <input type="submit" class="btn btn-success" value="Submit" style="width: 60%;" />
                            </td>
                          </tr>
                        </table>
                      </form>

                      <%#=yield%>
                    <!-- content ends -->
                  </div>
              </div>
              <div class="span8" id="reporter"></div>
          </div>
    </div>
</div>

<%=javascript_include_tag "bootstrap-tree/jquery-1.8.2"%>
<%=javascript_include_tag "bootstrap-tree/bootstrap.min"%>
<%=javascript_include_tag "bootstrap-tree/bootstrap-tree"%>

<script>
function setSelectedValue(value) {
  label = document.getElementById('selection-label');
  label.innerHTML = value;
}
</script>
