<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Stock chart</title>
    <style>

      .highcharts-button {
        display: none;
      }

    </style>
    <script type="text/javascript">

      var drug = "<%= params[:drug_name] %>";
      
      var stocks = {};
<%@stocks.keys.each do |drug|%>
    stocks["<%= drug%>"] = []
  <%(@stocks[drug] || []).each do |arr|%>
      stocks["<%= drug%>"].push(["<%=  arr[0]%>", "<%=  arr[1]%>"])
  <%end%>
<%end%>
  
 
 
  function getDates() {
    dates = [];
    for(var i = 0; i < stocks[drug].length; i++) {
      dates.push(stocks[drug][i][0]);
    }
    
    return dates;
  }


  function plotGraph(){
    
    $(function () {
      $('#container').highcharts({
        chart: {
          type: 'line'
        },
        title: {
          text: ''
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          /*categories:  getDates(), */
          type: 'datetime',
          dateTimeLabelFormats: {
            day: '%e %b',
            week: '%e %b'
          }
        },
        yAxis: {
       
          title: {
            text: 'Tins in stock'
          },
          labels: {
            formatter: function() {
              return this.value;
            }
          }
        
        },
        tooltip: {
          shared: true,
          valueSuffix: ' Tins'
        },
        plotOptions: {
          area: {
            stacking: 'normal',
            lineColor: '#666666',            
            lineWidth: 2,
            marker: {
              lineWidth: 100,
              lineColor: '#666666'
            }
          }
        },
        series: dataG()
      });
    });
  }
  plotGraph();
  function dataG() {
    var correctedWeights = [];
    try{
      for(var i = 0; i < stocks[drug].length; i++) {
        correctedWeights.push(parseInt(stocks[drug][i][1]));
      }
   
      start_point = stocks[drug][0][0].split('-')
   
      return [{name: 'Time', data: correctedWeights, negativeColor: 'red', pointStart: Date.UTC(start_point[0], (start_point[1] - 1), start_point[2]), pointInterval: 24 * 3600 * 1000}];
    }catch(e){
        jQuery('#chart').empty().html("<span style='padding-left: 20.5%; width: 100%; text-align: center; font-size: 30px;'> \n\
    No stock details found for specified time range </span>")
     
      }
    }
    </script>
  </head>
  <body>

    <div id="container" style="width: 100%; height: 100%; margin: 0 auto">
    </div>

    <script>
        function removeHighcharts() {
          /*    try {
          document.getElementsByClassName('highcharts-button')[0].innerHTML = null;
        }catch(e){}
           */
          tspan = document.getElementsByTagName('tspan');
          for(var i = 0; i < tspan.length; i++){
            if(tspan[i].innerHTML == 'Highcharts.com'){
              tspan[i].innerHTML = null;
              break;
            }
          }

        }

        setInterval("removeHighcharts();",300);
    </script>

  </body>
</html>



