
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#drugs').dataTable({
            "aaSorting": [[ 0, "asc" ]],
            'iDisplayLength': 20,
            "bLengthChange": false,
            "bFilter": false
        });
    } );
</script>
<script type="text/javascript" charset="utf-8">
    function trend()
    {
        try{

            var prescriptions = [];
            var dispensations = [];
        <% (@disp_trend || []).each do |drug, values| %>
            var amounts = [];
        <% (values || []).each do |day,value|%>
            amounts.push([Date.UTC(<%= day.year %>,<%= day.month - 1 %>,<%= day.day %>),<%= value %>])
        <% end%>
            dispensations.push({name:'<%= drug %>', data: amounts});
        <% end %>

        <% (@pres_trend || []).each do |drug, values| %>
            var amounts = [];
        <% (values || []).each do |day,value|%>
            amounts.push([Date.UTC(<%= day.year %>,<%= day.month - 1 %>,<%= day.day %>),<%= value %>])
        <% end%>
            prescriptions.push({name:'<%= drug %>', data: amounts});
        <% end %>

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: "pres_trends"
                },
                xAxis: {

                    title: {
                        text: 'Days'
                    },
                    type:'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    }


                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                                Highcharts.dateFormat('%e %b %Y', this.x) +': '+ this.y +' pills';
                    }
                },
                yAxis: {
                    title: {
                        text: 'Dose Amounts'
                    },
                    min: 0
                },
                title: {
                    text : "Drug Prescription Trend"
                },
                series: prescriptions,
                exporting: { enabled: false },
                credits: {enabled: false}
            });

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: "disp_trends"
                },
                xAxis: {

                    title: {
                        text: 'Days'
                    },
                    type:'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    }

                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                                Highcharts.dateFormat('%e %b %Y', this.x) +': '+ this.y +' pills';
                    }
                },
                yAxis: {
                    title: {
                        text: 'Dose Amounts'
                    },
                    min : 0
                },
                title: {
                    text : "Drug Dispensation Trend"
                },
                series: dispensations,
                exporting: { enabled: false },
                credits: {enabled: false}
            });

        }
        catch(ex)
        {
            alert('error in jQuery call:' + ex);
        }
    }
    setTimeout("trend()",20);
</script>

<style type="text/css">
    div.graph{
        border: 1px solid #15191C;
        width: 100%;

    }
</style>

<div style="text-align: center;">
  <table  style="width: 99%;margin-left: 0.5%;">
    <tr>
      <td width="50%">
        <div style="height: 100%;" class="graph">
          <div style="height: 98%;" id="pres_trends">

          </div>
        </div>
      </td>
      <td>
        <div style="height: 100%;" class="graph">
          <div  id="disp_trends">

          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<div style="width: 100%;text-align: center;">
  <table class="display" id="drugs" width="100%">
    <thead>
    <tr>
      <th>Date</th>
      <th>Drug</th>
      <th>Amount Prescribed</th>
      <th>Amount Dispensed</th>
      <th>Difference</th>
    </tr>
    </thead>
    <tbody>
    <% (@values || []).each do |day, drugs|%>
        <% (drugs || []).each do |drug, value|%>
            <tr>
              <td><%= day.strftime('%d %B %Y') %></td>
              <td><%= drug %></td>
              <td><%= number_with_delimiter(value["prescription"], :delimeter => ',') %></td>
              <td><%= number_with_delimiter(value["dispensation"], :delimeter => ',') %></td>
              <td><%= number_with_delimiter(value["prescription"] - value["dispensation"], :delimeter => ',') %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
