
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#drugs').dataTable({
            "aaSorting": [[ 0, "asc" ]],
            'iDisplayLength': 10,
            "bLengthChange": false,
            "bFilter": false
        });
    } );
</script>

<script type="text/javascript">
  function pie_graph()
  {
      try{
          // Build the chart
          var chart = new Highcharts.Chart({
              chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false,
                  renderTo: 'pie'
              },
              title: {
                  text: 'Dispensation Vs Prescription'
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: true,
                          color: '#000000',
                          connectorColor: '#000000',
                          formatter: function() {
                              return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                          }
                      }
                  }
              },
              series: [{
                  type: 'pie',
                  text: 'Dispensation Vs Prescription',
                  name: 'Dispensation Vs Prescription',
                  data: [["Prescriptions", <%=@prescription %>],["Dispensations", <%=@dispensation %>]]


              }],
              exporting: { enabled: false },
              credits: {enabled: false}
          });


      }
      catch(ex)
      {
          alert('PIE error in jQuery call:' + ex);
      }
  }

  function trend()
  {
      try{

          var prescriptions = [];
          var dispensations = [];

          <% (@days || []).each do |day| %>
                prescriptions.push([Date.UTC(<%= day.year %>,<%= day.month - 1 %>,<%= day.day %>), <%= @values[day]['prescription'] %>]);
                dispensations.push([Date.UTC(<%= day.year %>,<%= day.month - 1 %>,<%= day.day %>),<%= @values[day]['dispensation'] %>]);
          <% end %>

          var chart = new Highcharts.Chart({
              chart: {
                  renderTo: "trends"
              },
              xAxis: {

                  title: {
                      text: 'Days'
                  },
                  type:'datetime',
                  dateTimeLabelFormats: {
                      month: '%e. %b',
                      year: '%b'
                  }

              },
              tooltip: {
                  formatter: function() {
                      return '<b>'+ this.series.name +'</b><br/>'+
                              Highcharts.dateFormat('%e %b %Y', this.x) +': '+ this.y +' pills';
                  }
              },
              yAxis: {
                  title: {
                      text: 'Dose Amounts'
                  },
                  min : 0
              },
              title: {
                  text : "Drug Prescription and Dispensation Trend"
              },
              series: [{name: "Prescriptions", data: prescriptions, color:"#FF9950"}, {name: "Dispensations", data: dispensations, color: "#0D233A"}],
              exporting: { enabled: false },
              credits: {enabled: false}
          });


      }
      catch(ex)
      {
          alert('error in jQuery call:' + ex);
      }
  }
  setTimeout("pie_graph()",20);
  setTimeout("trend()",20);
</script>
<style type="text/css">
    div.graph{
        border: 1px solid #15191C;
        width: 100%;
    }
</style>
<div >
  <div style="text-align: center;">
    <table  style="width: 99%;margin-left: 0.5%;">
      <tr>
        <td width="50%">
          <div style="height: 100%;" class="graph">
            <div style="height: 98%;" id="trends">

            </div>
          </div>
        </td>
        <td>
          <div style="height: 100%;" class="graph">
            <div  id="pie">

            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div style="width: 100%;margin-top:5px; text-align: center;">
    <table class="display" id="drugs" width="100%">
      <thead>
      <tr>
        <th>Date</th>
        <th>Amount Prescribed</th>
        <th>Amount Dispensed</th>
        <th>Difference</th>
      </tr>
      </thead>
      <tbody>
      <% (@values || []).each do |day, value|%>
          <tr>
            <td><%= day.strftime('%d %B %Y') %></td>
            <td><%= number_with_delimiter(value["prescription"], :delimeter => ',') %></td>
            <td><%= number_with_delimiter(value["dispensation"], :delimeter => ',') %></td>
            <% percent = ((value["prescription"].to_f - value["dispensation"].to_f)/value["prescription"].to_f).round(2) %>
            <td><%= number_with_delimiter((value["prescription"] - value["dispensation"]), :delimeter => ',' ) %> (<%= percent.abs %>%)</td>
          </tr>
      <% end %>
      </tbody>

    </table>

  </div>

</div>
