<%=javascript_include_tag "Charts/Highcharts/jquery-1.11.0.min"%>
<%=javascript_include_tag "Charts/Highcharts/highcharts"%>
<%=javascript_include_tag "Charts/Highcharts/exporting"%>

<script type="text/javascript">

    var drugs = []
    var data_list = {}

    <% (@list.keys || []).each do |key| %>
        drugs.push('<%= key %>')
        data_list['<%= key %>'] = { month_of_stock: <%= @list[key]['month_of_stock'] %>,stock_level:<%= @list[key]['stock_level'] %> ,consumption_rate: <%= @list[key]['consumption_rate'] %>}

    <% end %>

    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar',
                // Edit chart spacing
                spacingBottom: 15,
                spacingTop: 10,
                spacingLeft: 10,
                spacingRight: 10,

                // Explicitly tell the width and height of a chart
                width: null,
                height: 700
            },
            title: {
                text: 'ARV Stock Levels At '+ '<%= @site.name %>'
            },
            xAxis: {
                categories: drugs,
                title: {
                    text: "Drug Names"
                },
                style: {
                    color: 'black',
                    fontSize: '10px'
                }
            },
            yAxis: {
                min: 0,
                max: 9,
                title: {
                    text: 'Months of Stock',
                    align: 'high'
                },
                style: {
                    color: 'black',
                    fontSize: '18px'
                },
                labels: {
                    overflow: 'justify'
                },
                plotBands: [{ // mark the weekend
                    color: '#66CDAA',
                    from: 2,
                    to: 5
                },
                    {
                        color: 'rgb(225, 225, 225)',
                        from: 0,
                        to: 2
                    },
                    {
                        color: 'rgb(225, 225, 225)',
                        from: 5,
                        to: 9
                    }]
            },
            tooltip: {
                shared: true,
                useHTML: true,
                valueSuffix: ' ',
                formatter: function() {

                    var stock_level_string = (this.y == 0) ? ' 0' : ' ' +
                            ((parseInt(this.y) == 0) ? '' :  parseInt(this.y) + (parseInt(this.y) == 1 ? ' month ': ' months ')) +
                            parseInt((this.y*30 % 30)) + ( parseInt((this.y*30 % 30)) == 1 ? " day" :  " days");

                    return '<span  style= "font-weight: bold; font-size : 10px;">' +
                            'Months of stock:  &nbsp&nbsp&nbsp<span style="color: #097054; " >' + stock_level_string + '</span> <br />' +
                            'Stock level:  &nbsp&nbsp&nbsp<span style="color: #097054; ">' + data_list[this.x]['stock_level'] + ' tins</span><br />' +
                            'Consumption rate:  &nbsp&nbsp&nbsp<span style="color: #097054; ">' + data_list[this.x]['consumption_rate'] + ' tins/month</span> </span>';
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: dataG(),
            exporting: { enabled: false }


        });
    });

    function dataG() {
        var correctedWeights = [];

        <% (@list.keys || []).each do |key| %>
            var val = parseFloat(<%= @list[key]["month_of_stock"] %>);
            var col = (val <= 2) ? 'red' : (val >= 5 ? 'green' : 'yellow');
            correctedWeights.push({y: val, color: col});
        <% end %>

        return [{name: 'Month(s) of stock', showInLegend: true, data: correctedWeights, pointWidth: 25}];
    }

</script>


<div id="container">

</div>
