<style type="text/css">
    td {
        padding: 10px !important;
    }
    select,
    textarea {
        width: 70% !important;
        float: left !important;
    }
    button {
        margin: 10px !important;
    }
</style>

<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap-datepicker.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jquery.alerts.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/application.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
<link href="/stylesheets/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />


<div class="container theme-showcase" role="main">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= params[:type].titleize %> Details</h3>
    </div>
    <div class="panel-body">

      <%= form_tag('/report/process_report', :method => 'post', :enctype => 'multipart/form-data',
                   :id => 'site-form', :class => "form-horizontal", :autocomplete => "off",:role => "form", :novalidate=> "novalidate") do %>

          <div style="display:<%= ['site report', 'stock movement', 'delivery report'].include?(params[:type]) ? '' : 'none' %> " class="form-control-group">
            <table style="width: 100%;">
              <tr>
                <td align="right" style="width: 20%">
                  <label class="control-label">Site Name:</label>&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                  <select id="sitename" name="site_name" class="form-control" placeholder="Region" required="" onchange="switchSite(this.value)" >
                    <option value="">[ - Select site - ]</option>

                    <% (@sites || []).each do |site| %>

                        <option value="<%= site%>"><%= site %></option>

                    <% end %>
                  </select>
                </td>
              </tr>
            </table>
          </div>

          <div style="display:<%= (params[:type].eql?('drug stock report') || params[:type].eql?('drug utilization report') ) ? '' : 'none' %> " class="form-control-group">
            <table style="width: 100%;">
              <tr>
                <td align="right" style="width: 20%">
                  <label class="control-label">Drug:</label>&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                  <select id="drug" name="drug" class="form-control"  required=""  >
                    <option value="">[ - Select drug - ]</option>

                    <% (@drugs || []).each do |drug| %>

                        <option value="<%= drug %>"><%= drug %></option>

                    <% end %>
                  </select>
                </td>
              </tr>
            </table>
          </div>

          <div class="form-control-group">
            <table style="width: 100%;">
              <tr>
                <td align="right" style="width: 20%">
                  <label class="control-label">Start Date:</label>&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                  <div style="width: 50% !important;" class="input-group date">
                    <input id="start_date" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="form-control-group">
            <table style="width: 100%;">
              <tr>
                <td align="right" style="width: 20%">
                  <label class="control-label">End Date:</label>&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                  <div style="width: 50% !important;" class="input-group date">
                    <input id="end_date" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div style="text-align: left; padding-left: 25%;display:<%= params[:type].eql?('delivery report') ? '' : 'none' %>" class="form-control-group">
            Or Enter Delivery Code Used
          </div>
          <div style="display:<%= params[:type].eql?('delivery report') ? '' : 'none' %>" class="form-control-group">
            <table style="width: 100%;">
              <tr>
                <td align="right" style="width: 20%">
                  <label class="control-label">Delivery Code:</label>&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                  <input style="width: 50% !important;" name="delivery_code" class="form-control" placeholder="Delivery Code" id="delivery_code" required="" value="" type="text" />
                </td>
              </tr>
            </table>
          </div>
          <%= hidden_field_tag("report_type", params[:type])%>
          <table style="width: 100%;">
            <tr>
              <td style="width: 20%;">
                <button type="button" class="btn btn-danger" style="font-size: 18px !important; float: left;" onclick="window.location = '/'">Cancel</button>
              </td>
              <td>
                <button type="button" class="btn btn-success btn-large" style="font-size: 18px !important; float: right;" onclick="verify_form();">Generate Report</button>
              </td>
            </tr>
          </table>

      <% end %>

    </div>
  </div>
</div>

<script>
    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today =  (day)+ "-" + (month) + "-" + now.getFullYear();

    $('.input-group.date').datepicker({
        format: "dd-MM-yyyy",
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
    });
</script>

<script type="text/javascript">
    <!--

    function clearInput(arr){
        var type = '<%= params[:type]%>';
        if (type == "delivery report"){
            for( var i = 0; i < arr.length; i ++){
                document.getElementById(arr[i]).value = "";
            }
        }
    }

    function verify_form()
    {

        var type = '<%= params[:type]%>';
        if(type == "delivery report")
        {
            if (document.getElementById('start_date').value.trim() == "" && document.getElementById('delivery_code').value.trim() == ""){
                jAlert("Please provide start date for report", "Incomplete Information");
            }
            else if (document.getElementById('end_date').value.trim() == "" && document.getElementById('delivery_code').value.trim() == ""){
                jAlert("Please provide end date for report", "Incomplete Information");
            }
            else if ((document.getElementById('d_code').value.trim() == "") && (document.getElementById('start_date').value.trim() == "") &&
                    (document.getElementById('end_date').value.trim() == "")){
                jAlert("Please provide delivery code or date range", "Incomplete Information");
            }
            else{
                document.forms[0].submit();
            }
        }
        else if(document.getElementById('start_date').value.trim() == "")
        {
            jAlert("Please provide start date for report", "Incomplete Information");
        }
        else if(document.getElementById('end_date').value.trim() == "")
        {
            jAlert("Please provide end date for report", "Incomplete Information");
        }
        else if((type == "site report") && (document.getElementById('site').value.trim() == ""))
        {
            jAlert("Please provide site name", "Incomplete Information");
        }
        else if(((type= "drug stock report") || (type= "drug utilization report")) && (document.getElementById('drug').value.trim() == ""))
        {
            jAlert("Please provide drug name", "Incomplete Information");
        }
        else
        {
            document.forms[0].submit();
        }

    }
    //-->
</script>
