<link rel="stylesheet" type="text/css" href="/stylesheets/demo_table.css" />
<script type="text/javascript" language="javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/javascripts/jquery.dataTables.js"></script>
<script src="/javascripts/highcharts.js"></script>
<script src="/javascripts/exporting.js"></script>
<script src="/javascripts/standalone-framework.src.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#drugs').dataTable({
            "aaSorting": [[ 0, "asc" ]],
            'iDisplayLength': 20,
            "bLengthChange": false,
            "bFilter": false
        });
    } );
</script>

<div style="width: 100%;text-align: center;">
  <table class="display" id="drugs" width="100%">
    <thead>
    <tr>
      <th>Date</th>
      <th>Drug</th>
      <th>Amount Prescribed</th>
      <th>Amount Dispensed</th>
      <th>Difference</th>
    </tr>
    </thead>
    <tbody>
    <% (@values || []).each do |day, drugs|%>
        <% (drugs || []).each do |drug, value|%>
            <tr>
              <td><%= day.strftime('%d %B %Y') %></td>
              <td><%= drug %></td>
              <td><%= number_with_delimiter(value["prescription"], :delimeter => ',') %></td>
              <td><%= number_with_delimiter(value["dispensation"], :delimeter => ',') %></td>
              <% percent = ((value["prescription"].to_f - value["dispensation"].to_f)/value["prescription"].to_f).round(2) %>
              <td><%= number_with_delimiter(value["prescription"] - value["dispensation"], :delimeter => ',') %> (<%= percent.abs %>%)</td>
            </tr>
        <% end %>
    <% end %>
    </tbody>

  </table>


</div>
